.close-button {
  background-color: #ff6961;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 10px;
}
.close-button:hover {
  background-color: #cc0000;
}
